<!DOCTYPE html>
<html>
<head>
    <title>Grosi Alarm System</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-select.min.css'/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/fa.css">

    <script src="/javascripts/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="/javascripts/gmaps.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap-select.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>

    <style type="text/css">
        #map {
            width: 550px;
            height: 400px;
        }

        div.myImage {
            display: none;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-left">
            <a class="navbar-brand" href="#">Grosi Alarm Dashboard</a>
        </div>
        <div class="navbar-header navbar-right">
            <img id="img-ibeacon" src="/images/iBeacon.png" height="50"/>
        </div>
    </div>
</nav>

<div class="row">
    <div class="row">
        <div style="margin:20px 0 0 10px;" class="col-sm-4">
            <div id="map"></div>
        </div>
        <div style="margin:10px 0 0 10px;width:200px;" class="col-sm-4">
            <div class="md-6">
                <div style="margin:6px 0 0 0;">

                    <div style="height:400px;width:627px" id="tabs">
                        <ul>
                            <li><a href="#fragment-1">Setup</a></li>
                            <li><a href="#fragment-2">Geofence</a></li>
                            <li><a href="#fragment-3">On demand</a></li>
                            <li><a href="#fragment-4">Constant tracking</a></li>
                            <li><a href="#fragment-5">(Simulate)</a></li>
                        </ul>
                        <div id="fragment-1">
                            <div>
                                <div style="font-size:18px;margin:0 0 0 0;">Emergency contact number:</div>
                                <input id="sms_number" class="form-control" style="width:350px;margin:4px 0 10px 0"
                                       value="+41779869000"
                                       placeholder="+41 79 195 27 69"/>

                                <!-- <div style="font-size:18px;margin:10px 0 0 0;">SMS message to be send:</div> -->
                               <!--  <select data-width="350px" class="selectpicker">
                                  <option>Grandma left the geofence.</option>
                                  <option>Grandma pushed button.</option>
                                  <option>----new------</option>
                                </select><br><br> -->
                                <div style="font-size:18px;margin:10px 0 0 0;">SMS notification 1:</div>
                                <input id="input_message_fence" class="form-control" style="width:350px;margin:4px 0 10px 0" />
                                <div style="font-size:18px;margin:1px 0 0 0;">SMS notification 2:</div>
                                <input id="input_message_button" class="form-control" style="width:350px;margin:4px 0 10px 0" />


                                <!-- <button style="margin:10px 10px">Put geofence</button> -->
                                <a id="save_setup" style="color:white;width:350px;" class="btn btn-lg btn-info" href="#">
                                    <i class="fa fa-phone"></i>
                                    Save setup
                                </a>
                            </div>
                            <img style="width: 180px;float: right;margin-top:-10px;" src="images/logo.png">
                        </div>
                        <div id="fragment-2">
                            <!-- Geofence -->
                            <div id="geofencedata">
                                <div style="font-size:18px;margin:0 0 0 0;">Bottom / left coordinate:</div>
                                <input class="form-control" style="width:250px;margin:4px 0 10px 0" id="input_TL_lat"
                                       type="text"/>
                                <input class="form-control" style="width:250px;margin-bottom:10px" id="input_TL_lng"
                                       type="text"/>

                                <div style="font-size:18px;margin:38px 0 0 0;">Top / right coordinate:</div>
                                <input class="form-control" style="width:250px;margin:4px 0 10px 0" id="input_BR_lat"
                                       type="text"/>
                                <input class="form-control" style="width:250px;margin-bottom:10px" id="input_BR_lng"
                                       type="text"/>

                                <!-- <button style="margin:10px 10px">Put geofence</button> -->
                                <a id="put" style="color:white;width:250px;" class="btn btn-lg btn-info" href="#">
                                    <i class="fa fa-paper-plane"></i>
                                    Send fence to LORA!
                                </a>
                            </div>
                            <img style="width: 180px;float: right;margin-top:-100px;" src="images/logo.png">
                        </div>
                        <div id="fragment-3">
                            <div id="getpos">
                                <a id="get_granny" style="color:white;width:220px;margin:10px 0 0 0;"
                                   class="btn btn-lg btn-info" href="#">
                                    <i class="fa fa-crosshairs"></i>
                                    Get GPS position
                                </a>
                            </div>
                            <img style="width: 180px;float: right;margin-top:100px;" src="images/logo.png">
                        </div>
                        <div id="fragment-4">
                            <div id="getpos">
                                <a id="get_granny_const" style="color:white;width:310px;margin:10px 0 0 0;"
                                   class="btn btn-lg btn-info" href="#">
                                    <i class="fa fa-crosshairs"></i>
                                    Get GPS position constantly
                                </a>
                            </div>
                            <img style="width: 180px;float: right;margin-top:100px;" src="images/logo.png">
                        </div>
                        <div id="fragment-5">
                            <!-- <button style="margin:10px 10px">Put geofence</button> -->
                            <a id="put2" style="color:white;width:250px;" class="btn btn-lg btn-info" href="#">
                                <i class="fa fa-paper-plane"></i>
                                Send fence to LORA!
                            </a>
                            <div id="getpos">
                                <a id="simulate" style="width:251px;font-size:22px;color:white;margin:10px 0 0 0;"
                                   class="btn btn-lg btn-info" href="#">
                                    <i class="fa fa-child"></i>
                                    Simulate!
                                </a>
                            </div>
                            <img style="width: 180px;float: right;margin-top:76px;" src="images/logo.png">
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <div id="status" style="background-color:white;border: 2px solid black; width:540px; position: relative;top: 59px;left: -240px;display:none;margin:25px 0 0 110px;"
             class="col-sm-4">
             <h1>Grandma pushed emergency button. Sms was sent!</h1>
            <img id="status_img" src="images/alarm.gif"></img>
            <a id="close_alarm_button" style="width:220px;margin:10px 0 10px 0;" class="btn btn-lg btn-success" href="#">
                <i class="icon-flag icon-2x pull-left"></i> Acknowledge
            </a>
        </div>
        <div id="status_geofence" style="background-color:white;border: 2px solid black; width:540px; position: relative;top: 59px;left: -240px;display:none;margin:25px 0 0 110px;"
             class="col-sm-4">
             <h1>Grandma left geofence.  Sms was sent!</h1>
            <img id="status_img" src="images/alarm.gif"></img>
            <a id="close_alarm_geofence" style="width:220px;margin:10px 0 10px 0;" class="btn btn-lg btn-success" href="#">
                <i class="icon-flag icon-2x pull-left"></i> Acknowledge
            </a>
        </div>
    </div>
</div>
<div class="row">
    <br>
    Helper buttons (will be deleted for demo): <br>
    <a id="fire_alarm" style="width:220px;margin:10px 0 0 0;" class="btn btn-lg btn-danger" href="#">
        <i class="fa fa-fire"></i> Fire alarm!
    </a>
    <a id="rmv_granny" style="width:220px;margin:10px 0 0 0;" class="btn btn-lg btn-danger" href="#">
        <i class="fa fa-fire"></i> Remove Granny
    </a>
    <a id="put_granny" style="width:220px;margin:10px 0 0 0;" class="btn btn-lg btn-danger" href="#">
        <i class="fa fa-fire"></i> Put Granny
    </a>
</div>

<div id="wrapper">
    <div class="audioHide" style="display: none;">
        <div class="audioControl" style="position:relative; top:10px; left:50px; display:inline-block;">
            <audio controls>
                <source src="#" type="audio/mpeg">Not Supported</audio>
        </div>
    </div>
    <div class="voiceLink">
        <a target="#" href="audio/Siren_Noise.mp3">2456266</a>
    </div>
</div>

<script>
    $("#tabs").tabs();

    var socket = io();
    socket.on('message', function (msg) {
        //{lat: 47, lng: 31}
        console.log('updated grandma: ', msg);
        // console.log(setGrannyOnMap);
        setGrannyOnMap(msg.lat, msg.lng);
    });

    // hack: block second alarm via button...
    var block_secondAlarm = false;

    // on click
    // socket.emit('geofence', {"latTL": 47.4069373, "lngTL": 8.4775423, "latBR": 47.3049282, "lngBR": 8.601396});
    socket.on('newAlarm', function (data) {
        console.log('loworan alarms!', data);
        if (data.alarm === false) {
            //TODO IWAN remove alarm
            $("#status").hide();
        } else if (data.alarm && (!block_secondAlarm)) {
            block_secondAlarm = true;
            buttonPressed();
        }
    });

    socket.on('newIbeacon', function (data) {
        console.log('loworan ibeacon!', data);
        // TODO show house icon or similar
    });

    function buttonPressed() {
        $("#status").show();
        sms($('#input_message_button').val());
    }

    function left_fence_fire_alarm() {
        $("#status_geofence").show();
        changeBgAndSound();
        sms('fire button clicked');
    }

    function left_fence_through_simulation() {
        $("#status_geofence").show();
        changeBgAndSound();
        sms('Grandma left geofence: ' + 'http://maps.google.com/maps?z=12&t=m&q=loc:47.38004269255832+8.527868179870666');
    }



    function removeMarkers() {
        for (var i = 0; i < global_markersToRemove.length; i++) {
            global_markersToRemove[i].setMap(null);
        }
    }

    global_markersToRemove = [];

    var button_message = "Grandma pushed button.";
    var fence_message = "Grandma left geofence: {gmaps-link}";
    $('#input_message_fence').val(fence_message);
    $('#input_message_button').val(button_message);

    var langstrasse_coord = [47.38004269255832, 8.527868179870666];

    var center_lat = 47.38489538348497;
    var center_lng = 8.53349008996588;
    // fence value 1
    var init_lat1 = 47.382745144414834;
    var init_lng1 = 8.52799692590338;

    // fence value 2
    var init_lat2 = 47.38705520766435;
    var init_lng2 = 8.538379587341296;

    //TODO change on production(echo ejs)
    var API_URL = '<%= IP %>:<%= PORT %>/';

    var DOM_BL_lat = document.getElementById("input_TL_lat");
    DOM_BL_lat.value = init_lat1;
    var DOM_BL_lng = document.getElementById("input_TL_lng");
    DOM_BL_lng.value = init_lng1;

    var DOM_TR_lat = document.getElementById("input_BR_lat");
    DOM_TR_lat.value = init_lat2;
    var DOM_TR_lng = document.getElementById("input_BR_lng");
    DOM_TR_lng.value = init_lng2;

    ////////////////////////////////////////////////////////

    function changeBgAndSound() {
        setTimeout(function () {
            console.log("1");
            document.body.style.backgroundColor = "red";
        }, 200 * 1);
        setTimeout(function () {
            console.log("1");
            document.body.style.backgroundColor = "white";
        }, 200 * 2);
        setTimeout(function () {
            console.log("1");
            document.body.style.backgroundColor = "red";
        }, 200 * 3);
        setTimeout(function () {
            console.log("1");
            document.body.style.backgroundColor = "white";
        }, 200 * 4);
        setTimeout(function () {
            console.log("1");
            document.body.style.backgroundColor = "red";
        }, 200 * 5);
        setTimeout(function () {
            console.log("1");
            document.body.style.backgroundColor = "white";
        }, 200 * 6);

        var resbox = $('#wrapper');

        $('.voiceLink a', resbox).click(function (e) {
            e.preventDefault();
            var link = $(this).prop('href'),
                    audio = $('.audioControl', resbox);

            audio.find('source').prop('src', link);
            audio.parent().css('display', 'inline-block');
            audio.find('audio').load();
            setTimeout(audio.find('audio')[0].play(), 100);

            $(window).scrollTop();
        });

    }

    function initialize() {
        var myLatlng = new google.maps.LatLng(center_lat, center_lng);

        var TL_point = new google.maps.LatLng(init_lat1, init_lng1);
        var BR_point = new google.maps.LatLng(init_lat2, init_lng2);

        var myOptions = {
            zoom: 15,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("map"), myOptions);

        markerBL = new google.maps.Marker({
            position: TL_point,
            map: map,
            title: 'Default Marker1',
            draggable: true
        });

        markerTR = new google.maps.Marker({
            position: BR_point,
            map: map,
            title: 'Default Marker2',
            draggable: true
        });

        // google.maps.event.addListener(map, 'click', function (event) {

        //             marker = new google.maps.Marker({
        //                 position: event.latLng,
        //                 map: map,
        //                 title: 'Click Generated Marker',
        //                 draggable: true
        //             });
        //         }
        // );

        google.maps.event.addListener(
                markerBL,
                'drag',
                function (event) {
                    DOM_BL_lat.value = this.position.lat();
                    DOM_BL_lng.value = this.position.lng();
                }
        );

        google.maps.event.addListener(
                markerTR,
                'drag',
                function (event) {
                    DOM_TR_lat.value = this.position.lat();
                    DOM_TR_lng.value = this.position.lng();
                }
        );

        google.maps.event.addListener(markerBL, 'dragend', function (event) {
                    DOM_BL_lat.value = this.position.lat();
                    DOM_BL_lng.value = this.position.lng();
                }
        );
        google.maps.event.addListener(markerTR, 'dragend', function (event) {
                    DOM_TR_lat.value = this.position.lat();
                    DOM_TR_lng.value = this.position.lng();
                }
        );

        $("#close_alarm_button").click(function () {
            $("#status").hide();
            document.body.style.backgroundColor = "white";
            $.get(API_URL + 'alarms')
                    .done(console.warn)
                    .fail(console.warn);
        });

        $("#close_alarm_geofence").click(function () {
            $("#status_geofence").hide();
            document.body.style.backgroundColor = "white";
        });

        $("#fire_alarm").click(function () {
            left_fence_fire_alarm();
        });

    }
    ////////////////////////////////////////////////

    function gen_points() {
        rectangle = new google.maps.Rectangle();

        var blpointlocal = new google.maps.LatLng(DOM_BL_lat.value, DOM_BL_lng.value);
        var trpointlocal = new google.maps.LatLng(DOM_TR_lat.value, DOM_TR_lng.value);
        var bounds = new google.maps.LatLngBounds(blpointlocal, trpointlocal);

        var rectOptions = {
            strokeColor: "#FF0000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#FF0000",
            fillOpacity: 0.15,
            map: map,
            bounds: bounds
        };
        rectangle.setOptions(rectOptions);
    }

    // web-app -> LORA
    function sendGeofenceToLora(latBL, lngBL, latTR, lngTR) {
        var send_obj = {};
        send_obj.latBL = latBL;
        send_obj.lngBL = lngBL;

        send_obj.latTR = latTR;
        send_obj.lngTR = lngTR;
        console.log(send_obj);
        $.post(API_URL + 'geofences', send_obj, 'json')
                .done(console.warn)
                .fail(console.warn);
    }

    function sms(the_message) {
        // the_message = "http://maps.google.com/maps?z=12&t=m&q=loc:47.38489538348497+8.53349008996588";

        //overwrite if not set
        if (!the_message){
            the_message = 'SMS notification regarding your grandma was triggered';
        }
        var the_number = $('#sms_number').val().trim().replace(/ /g,'');

        console.log("message sent: " + the_message);
        console.log("to: " + the_number);
        console.log("---- dress rehersel: dont call twilio by now  -----");
        return;
        $.post(API_URL + 'sms', {message:the_message, to:the_number}, 'json').success(console.warn("++++")).fail(console.warn);
    }

    // LORA-> web-app
    function setGrannyOnMap(lat, lng) {
        // console.log("get gps from LORA to put granny on map");
        removeMarkers();

        var granny_point = new google.maps.LatLng(lat, lng);
        var marker = new google.maps.Marker({
            position: granny_point,
            map: map,
            draggable: true,
            icon: 'images/omi.png',
            title: 'Granny'
        });
        global_markersToRemove.push(marker); // global_markersToRemove is a global array
    }

    $(document).ready(function () {
        $("#put,#put2").click(function () {
            sendGeofenceToLora(DOM_BL_lat.value, DOM_BL_lng.value, DOM_TR_lat.value, DOM_TR_lng.value);
            gen_points();
        });

        $("#save_setup").click(function () {
            sms("Setup successful.");
        });

        $("#simulate").click(function () {
            //granny walks out of the geofence
            var granny_path = [[47.385052, 8.532283],
                [47.384834, 8.531919],
                [47.384035, 8.531103],
                [47.383599, 8.530695],
                [47.38286137579607, 8.529928116394103],
                [47.38193151757078, 8.529370216919006],
                [47.38111787816972, 8.528597740722716],
                langstrasse_coord];
            // setGrannyOnMap

            setTimeout(function () {
                setGrannyOnMap(granny_path[0][0], granny_path[0][1])
            }, 1500 * 1);
            setTimeout(function () {
                setGrannyOnMap(granny_path[1][0], granny_path[1][1])
            }, 1000 * 2);
            setTimeout(function () {
                setGrannyOnMap(granny_path[2][0], granny_path[2][1])
            }, 1000 * 3);
            setTimeout(function () {
                setGrannyOnMap(granny_path[4][0], granny_path[4][1])
            }, 1000 * 4);
            setTimeout(function () {
                setGrannyOnMap(granny_path[5][0], granny_path[5][1])
            }, 1000 * 5);
            setTimeout(function () {
                setGrannyOnMap(granny_path[6][0], granny_path[6][1])
            }, 1000 * 6);
            setTimeout(function () {
                setGrannyOnMap(granny_path[7][0], granny_path[7][1])
            }, 1000 * 7);
            setTimeout(function () {
                left_fence_through_simulation();
            }, 1000 * 7);

        });

        $("#get_granny").click(function () {
            var granny_lat = center_lat;
            var granny_lng = center_lng;
            setGrannyOnMap(granny_lat, granny_lng);
        });

        $("#rmv_granny").click(function () {
            removeMarkers();
        });

        $("#put_granny").click(function () {
            setGrannyOnMap(center_lat, center_lng);
        });

         $("#get_granny_const").click(function () {
			$.post(API_URL + 'geofences/reset')
                    .done(console.warn)
                    .fail(console.warn);
        });

        initialize()
    });

    // $('#geofencedata').hide();
    // $('#getpos').hide();
    $('#modeselect').on('change', function () {
        console.log(this.value); // or $(this).val()
        if (this.value === 'const') {
            $('#geofencedata').hide();
            $('#getpos').show();
        } else if (this.value === 'geo') {
            $('#geofencedata').show();
            $('#getpos').hide();
        } else if (this.value === 'dem') {
            $('#geofencedata').hide();
            $('#getpos').show();
        }
    });
</script>


</body>
</html>





